<h3>Employees</h3>

@page "/employees"
@inject EmployeeService employeeService
<h1>My Employee List</h1>
<p>This component demonstrates managing an Employee list.</p>
@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="@Add" class="btn btn-success">Add</button>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Department</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in employees)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>@item.Department</td>
                    <td>@item.Salary</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (employees != null && mode == MODE.Add)
{
    <input placeholder="FullName" @bind="@fullName" />
    <br />
    <input placeholder="Department" @bind="@department" />
    <br />
    <input placeholder="Salary" @bind="@salary" />
    <br />
    <button @onclick="@Insert" class="btn btn-warning">Insert</button>
}

@code {
    string id;
    string fullName;
    string department;
    decimal salary;
    private enum MODE { None, Add, EditDelete };
    MODE mode = MODE.None;
    List<Employee> employees;
    protected override async Task OnInitializedAsync()
    {
        await Load();
    }
    protected async Task Load()
    {
        employees = await employeeService.GetEmployeesAsync();
    }

    protected void Add()
    {
        ClearFields();
        mode = MODE.Add;
    }

    protected void ClearFields()
    {
        id = string.Empty;
        fullName = string.Empty;
        department = string.Empty;
        salary = 0;
    }

    protected async Task Insert()
    {
        Employee e = new Employee()
            {
                Id = Guid.NewGuid().ToString(),
                FullName = fullName,
                Department = department,
                Salary = salary
            };
        await employeeService.InsertEmployeeAsync(e);
        ClearFields();
        await Load();
        mode = MODE.None;
    }
}